<footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="google.vn">
                  Smart university 
                </a>
              </li>
              <li>
                <a href="google.vn">
                  About Us
                </a>
              </li>
              <li>
                <a href="google.vn">
                  Blog
                </a>
              </li>
              <li>
                <a href="google.vn">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="google.vn" target="_blank">SO</a> for HCMUS.
          </div>
        </div>
      </footer>