<link rel="stylesheet" href="/stylesheets/main_header.css">
<div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar(this)">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="list">
        <div class="item"><a class="a-item" href="/taisan">Quản lý tài sản</a></div>
        <div class="item"><a class="a-item" href="/thietbi">Quản lý thiết bị</a></div>
        <div class="item"><a class="a-item" href="/users">User profile</a></div>
    </div>
</div>
<script src="/javascripts/sidebar.js"></script>
