<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/status_tracking.css">
<link href="/stylesheets/dialog.css" rel="stylesheet" />
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />


<div class="wrapper ">
    {{>sidebar_admin}}
    <div class="main-panel">
        {{>navbar_admin}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title" id="InfoDon" data-idnguoixuly="{{data.denghi.idNguoiXulyDon}}">
                                    Thông tin đơn đề nghị</h4>
                                <p id="MaDon" class="card-category" data-madon="{{data.denghi.id}}" data-maphong="{{data.nguoidedon.idPhongban}}">Mã đơn:
                                    #{{data.denghi.id}}</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Nội dung đề nghị:</label>
                                                <input type="text" class="form-control" id="NoiDung"
                                                    value="{{data.denghi.NoiDungHoSo}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Ngày đề nghị</label>
                                                <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{data.denghi.NgayDeNghi}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Ngày nhận</label>
                                                <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{data.denghi.NgayNhan}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="loai">Sử dụng kinh phí:</label>
                                                <input type="text" class="form-control"
                                                    value="{{data.denghi.SuDungKinhPhi}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="status-tracking">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Trạng thái đơn đề nghị</label>
                                                {{!-- <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{data.denghi.updatedAt}}" disabled> --}}
                                                <ol id="StatusTracking" class="progtrckr" data-steps="8"
                                                    data-tinhtrang="{{data.denghi.Tinhtrang}}">
                                                    <li>Gửi đơn thành công</li>
                                                    <li>Đơn đã được nhận</li>
                                                    <li>Đơn được chập thuận</li>
                                                    <li>Báo giá thành công</li>
                                                    <li>Đơn được chấp nhận</li>
                                                    <li>Hoàn tất mua sắm</li>
                                                    <li>Hoàn tất bàn giao</li>
                                                    <li>Xét duyệt hoàn tất</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="status-tracking-detail">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Chi tiết trạng thái đơn đề
                                                    nghị</label>
                                                {{!-- <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{data.denghi.updatedAt}}" disabled> --}}
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm"
                                                        data-tinhtrang="{{data.denghi.Tinhtrang}}" id="tablestatus"
                                                        cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th><b>Trạng thái đơn đề nghị</b></th>
                                                                <th><b>Hành động</b></th>
                                                                <th style="text-align:center;width:auto;height: auto;">
                                                                    <b>Tiến độ</b></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1. Gửi đơn thành công</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2. Đơn đề nghị đã được tiếp nhận bởi nhân viên
                                                                    <b>{{data.nhanvienXulydon.hoten}}</b></td>
                                                                <td>
                                                                    <button type="button" title="Mẫu đơn đề nghị"
                                                                        id="btn-xemdondenghixetduyet"
                                                                        class="button buttonBlue"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-imgpath="{{data.denghi.DonDenghiXetDuyetImgPath}}"
                                                                        data-toggle="modal" data-target="#xemTaiLieu">
                                                                        <font size="2">Xem mẫu đơn đề nghị</font>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="button buttonBlue dt-completestep"
                                                                        data-step="2"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Xác nhận hoàn tất</font>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3. Đơn đề nghị đã được Hiệu trưởng chấp thuận</td>
                                                                <td>
                                                                    <button type="button" title="Mẫu đơn đề nghị"
                                                                        id="btn-" class="button buttonBlue"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-imgpath="{{data.denghi.DonDenghiFinalImgPath}}"
                                                                        data-toggle="modal"
                                                                        data-target="#uploadDonFinal">
                                                                        <font size="2">Nhập đơn đề nghị bản cuối</font>
                                                                    </button>
                                                                    <button type="button" title="Mẫu đơn đề nghị"
                                                                        id="btn-xemdondenghifinal"
                                                                        class="button buttonBlue"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-imgpath="{{data.denghi.DonDenghiFinalImgPath}}"
                                                                        data-toggle="modal" data-target="#xemTaiLieu">
                                                                        <font size="2">Xem mẫu đơn đề nghị</font>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="button buttonBlue dt-completestep"
                                                                        data-step="3"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Xác nhận hoàn tất</font>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4. Báo giá</td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="button buttonBlue dt-nhapbaogia"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Nhập báo giá</font>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="button buttonBlue dt-completestep"
                                                                        data-step="4"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Xác nhận hoàn tất</font>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5. Xét duyệt đơn</td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="button buttonBlue dt-inbaogia"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">In báo giá</font>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="button buttonBlue dt-completestep"
                                                                        data-step="5"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Xác nhận hoàn tất</font>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>6. Tiến hành thủ tục mua hàng</td>
                                                                <td>
                                                                    <button type="button" title="Mẫu quyết định mua sắm"
                                                                        class="button buttonBlue dt-inmau"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-mauso="4">
                                                                        <font size="2">In mẫu số 04</font>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="button buttonBlue dt-completestep"
                                                                        data-step="6"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Xác nhận hoàn tất</font>
                                                                    </button>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>7. Tiến hành thủ tục giao hàng</td>
                                                                <td>
                                                                    <button type="button"
                                                                        title="Biên bản thương thảo hợp đồng"
                                                                        class="button buttonBlue dt-inmau"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-mauso="2">
                                                                        <font size="2">In mẫu số 02 </font>
                                                                    </button>
                                                                    <button type="button"
                                                                        title="Biên bản lựa chọn nhà thầu "
                                                                        class="button buttonBlue dt-inmau"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-mauso="3">
                                                                        <font size="2">In mẫu số 03 </font>
                                                                    </button>
                                                                    <button type="button" title="Hợp đồng mua bán"
                                                                        class="button buttonBlue dt-inmau"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-mauso="5">
                                                                        <font size="2">In mẫu số 05 </font>
                                                                    </button>
                                                                    <button type="button" title="Biên bản giao hàng"
                                                                        class="button buttonBlue dt-inmau"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-mauso="6">
                                                                        <font size="2">In mẫu số 06 </font>
                                                                    </button>
                                                                    <button type="button"
                                                                        title="Biên bản nghiệm thu và bàn giao "
                                                                        class="button buttonBlue dt-inmau"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-mauso="7">
                                                                        <font size="2">In mẫu số 07 </font>
                                                                    </button>
                                                                    <button type="button"
                                                                        title="Biên bản thanh lý hợp đồng"
                                                                        class="button buttonBlue dt-inmau"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-mauso="8">
                                                                        <font size="2">In mẫu số 08 </font>
                                                                    </button>
                                                                </td>
                                                                <td>

                                                                    <button type="button"
                                                                        class="button buttonBlue dt-completestep"
                                                                        data-step="7"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Xác nhận hoàn tất</font>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>8. Thêm tài sản vào CSDL</td>
                                                                <td>
                                                                    <button type="button" class="button buttonBlue"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-toggle="modal"
                                                                        data-target="#modalThemThietBi">
                                                                        <font size="2">Thêm mới tài sản </font>
                                                                    </button>
                                                                </td>
                                                                <td>

                                                                    <button type="button"
                                                                        class="button buttonBlue dt-completestep"
                                                                        data-step="8"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Xác nhận hoàn tất</font>
                                                                    </button>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    {{!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modalThemDeNghi">Thêm</button> --}}
                                                    <button type="button" class="btn btn-primary toggle-huydon"
                                                        data-toggle="modal" data-target="#myModal">Hủy
                                                        đơn</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                {{!-- <button type="button" class="btn btn-primary" id="dt-duyetdon">Duyệt đơn</button> --}}
                                <button type="button" title="Mẫu đơn đề nghị" id="btn-reviewdon" class="btn btn-primary"
                                    style="text-align:center;width:auto;"
                                    data-imgpath="{{data.denghi.DonDenghiXetDuyetImgPath}}" data-toggle="modal"
                                    data-target="#xemTaiLieu">
                                    <font size="2">Xem mẫu đơn đề nghị</font>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-profile">
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img" src="/assests/img/sample/sample_avatar.png" />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-gray">Người đề xuất đơn</h6>
                                        <h4 class="card-title">{{data.nguoidedon.hoten}}</h4>
                                        <p class="card-description">
                                            Thuộc đơn vị: {{data.nguoidedon.idPhongban}}
                                            </br>
                                            Email :{{data.nguoidedon.email}}
                                            </br>
                                            Số điện thoại: {{data.nguoidedon.phone}}
                                        </p>
                                        <a href="#pablo" class="btn btn-primary btn-round">Liên hệ</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12" id='info-nguoixulydon'>
                                <div class="card card-profile">
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img" src="/assests/img/sample/sample_avatar_female.png" />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-gray">Người xử lý đơn</h6>
                                        <h4 class="card-title">{{data.nhanvienXulydon.hoten}}</h4>
                                        <p class="card-description">
                                            Thuộc đơn vị: {{data.nhanvienXulydon.idPhongban}}
                                            </br>
                                            Email :{{data.nhanvienXulydon.email}}
                                            </br>
                                            Số điện thoại: {{data.nhanvienXulydon.phone}}
                                        </p>
                                        <a href="#pablo" class="btn btn-primary btn-round">Liên hệ</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="modalThemThietBi" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm thiết bị</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="ipTenTS">Tên tài sản</label>
                    <input type="text" class="form-control" id="ipTenTS">
                </div>
                <div class="form-group">
                    <label for="ipTenTB">Tên thiết bị</label>
                    <input type="text" class="form-control" id="ipTenTB">
                </div>
                <div class="form-group">
                    <label for="ipNSX">Năm sản xuất</label>
                    <input type="date" class="form-control" id="ipNSX">
                </div>
                <div class="form-group">
                    <label for="ipBH">Thời hạn bảo hành</label>
                    <input type="date" class="form-control" id="ipBH">
                </div>
                <div class="form-group">
                    <label for="amount">Số lượng thiết bị</label>
                    <input type="number" class="form-control" id="ipamount">
                </div>
                <div class="form-group">
                    <label for="ipGiaTriTB">Giá trị</label>
                    <input type="number" class="form-control" id="ipGiaTriTB" value={{taisan.ThietBis.[0].GiaTri}}>
                </div>
                <div class="form-group">
                    <label for="DVSD">Đơn vị sử dụng</label>
                    <select name="DonViSuDung" id="DVSD">
                        {{#each bomon}}
                        <option value={{id}}>{{TenBoMon}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_themThietBi" class="btn btn-primary" data-dismiss="modal">Thêm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Lý do hủy đơn</h4>
            </div>

            <div class="modal-body">
                <!--Select with pure css-->
                <div class="select">
                    <select class="select-text" id="lydo-huydon" required>
                        <option value="1">Ban giám hiệu không đồng ý</option>
                        <option value="2">Đơn vị sử dụng yêu cầu hủy đơn</option>
                    </select>
                    <span class="select-highlight"></span>
                    <span class="select-bar"></span>
                    <label class="select-label">Chọn</label>
                </div>
                <!--Select with pure css-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dialog " data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-dialog btn-danger dt-huydon">Hủy đơn</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade bd-example-modal-lg" id="xemTaiLieu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Tài liệu</h4>
            </div>

            <div class="modal-body">
                <!--Select with pure css-->
                <div class="img">
                    <img id="DocImg" src="" alt="Loi hinh anh">
                </div>
                <!--Select with pure css-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dialog " data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade bd-example-modal-lg" id="uploadDonFinal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Đơn đề nghị đã có đầy đủ chữ ký</h4>
            </div>

            <div class="modal-body">

                {{!-- <div class="img">
                    <img id="DocImg" src="" alt="Loi hinh anh">
                </div> --}}
                <form action="/denghisohuu/upload" method="POST" enctype="multipart/form-data" id="formular">
                    <div class="row">
                        <div class="col-12">
                            <div class="form">
                                <label for="example-input-file"> </label>
                                <input type="file" name="file" id="imgInp" class="form-control-file border">
                                <br><img id="blah" src="#" alt="your image" style="margin: 10px" />
                            </div>
                            <div class="col-auto">
                                {{!-- <br><button type="submit" formmethod="post" style="display: none"
                                                            formaction="/denghisohuu/add/uploads"
                                                            class="btn btn-primary">Submit</button> --}}
                                <br><button type="button" id="btn_luuAnhDonDenghiFinal" class="btn btn-primary pull-right"
                                    data-dismiss="modal">Luu Anh</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dialog " data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script src="/javascripts/status_tracking.js"></script>
<script src="/javascripts/tablestatus_qltb.js"></script>
<script>

    $('.dt-huydon').each(function () {
        $(this).on('click', function (evt) {
            let content = {}
            //id don de nghi
            let id = parseInt(document.getElementById("MaDon").dataset.madon);
            let lydohuydon = $("#lydo-huydon option:selected").text();

            content.id = id;
            content.lydohuydon = lydohuydon;
            $.ajax({
                url: '/denghi/huydon',
                type: 'PATCH',
                data: JSON.stringify(content),
                contentType: 'application/json',
                success: function () {
                    window.location.reload(true);
                },
                error: function () {
                    alert("that bai");
                }
            });
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>