<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

{{!-- <div class="container">
    <button type="button" class="button buttonBlue" id="btn-addtb">
        Thêm
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <button type="button" class="button buttonRed" id="btn-removetb">
        Xóa
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <button type="button" class="button buttonGreen" id="btn-thanhlytb">
        Thanh lý
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</div> --}}

<!--<div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar(this)">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="list">
        <div class="item"><a class="a-item" href="/taisan">Quản lý tài sản</a></div>
        <div class="item"><a class="a-item" href="/thietbi">Quản lý thiết bị</a></div>
        <div class="item"><a class="a-item" href="/users">User profile</a></div>
    </div>
</div>-->
<div class="wrapper ">
    {{>sidebar_admin}}
    <div class="main-panel">
        {{>navbar_admin}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Danh sách người dùng</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="tableuser"
                                        cellspacing="0" width="100%" >
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Password</th>
                                                <th>Vai trò</th>
                                                <th>Mã phòng ban</th>
                                                <th>Họ tên</th>
                                                <th>Số điện thoại</td>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each data.users}}
                                            <tr>
                                                <td><a href="./users/{{id}}">{{id}}</a></td>
                                                <td>{{username}}</td>
                                                <td>{{password}}</td>
                                                {{#ifCond role 1}}
                                                    <td>Trưởng đơn vị</td>
                                                    {{else}}
                                                        {{#ifCond role 2}}
                                                            <td>Nhân viên Qt. Thiết bị</td>
                                                            {{else}}
                                                                {{#ifCond role 3}}
                                                                    <td>Quản trị viên</td>
                                                                    {{else}}
                                                                        <td>Chưa phần quyền</td>
                                                                    {{/ifCond}}
                                                        {{/ifCond}}
                                                {{/ifCond}}
                                                <td>{{idPhongban}}</td>
                                                <td>{{hoten}}</td>
                                                <td>{{phone}}</td>
                                                <td>
                                                    {{email}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        {{!-- <tfoot>
            <tr>
                <th>ID</th>
                <th>Tên thiết bị</th>
                <th>Tình trạng thanh lý</th>
                <th>Ngày thanh lý</th>
                <th>Năm sử dụng</th>
                <th>Giá trị</th>
                <th>Phòng ban</th>
                <th>Tình trạng</th>
            </tr>
        </tfoot> --}}
                                    </table>
                                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalThemUser">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>

<div id="modalThemUser" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm tài khoản</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="username">Tên người dùng</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="cfpwd">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="cfpwd">
        </div>
        <div class="form-group">
            <label for="name">Họ tên</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="text" class="form-control" id="phone">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="PhongBan">Phòng ban:</label>
            <select name="PhongBan" id="PhongBan">
                {{#each data.phongbans}}
                <option value={{id}}>{{TenPhong}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="role">Vai trờ người dùng:</label>
            <select name="role" id="role">
                <option value="1">Trưởng đơn vị</option>
                <option value="2">Nhân viên phòng Quản trị thiết bị</option>
                <option value="3">Quản trị viên</option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_themUser" class="btn btn-primary" data-dismiss="modal">Thêm</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>



<script src="/javascripts/tableuser.js"></script>