<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<div class="wrapper ">
    {{>sidebar_admin}}
    <div class="main-panel">
        {{>navbar_admin}}
        <div class="content">
            <div class="container-fluid">
                {{!-- Danh sach don de nghi duoc xet duyet boi ban --}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Đơn đề nghị được xét duyệt</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-sm" id="tabledenghi-owner"
                                        cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Nội dung hồ sơ</th>
                                                <th>Sử dụng kinh phí</th>
                                                <th>Ngày đề nghị</th>
                                                <th>Loại đề nghị</th>
                                                <th>Tình trạng</th>
                                                <th style="text-align:center;width:100px;">
                                                    {{!-- <button type="button" data-func="dt-add"
                                                        class="btn btn-success btn-xs dt-add">
                                                        Thêm
                                                    </button> --}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each denghis}}
                                            <tr>
                                                <td>{{NoiDungHoSo}}</td>
                                                <td>{{SuDungKinhPhi}}</td>
                                                <td>{{NgayDeNghi}}</td>

                                                {{#ifCond LoaiDeNghi 1}}
                                                <td>Mua mới</td>
                                                {{else}}
                                                {{#ifCond LoaiDeNghi 2}}
                                                <td>Sửa chữa</td>
                                                {{else}}
                                                {{#ifCond LoaiDeNghi 3}}
                                                <td>Thanh lý</td>
                                                {{else}}
                                                {{#ifCond LoaiDeNghi 4}}
                                                <td>Bảo trì</td>
                                                {{else}}
                                                <td>Rỗng</td>
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}

                                                {{#ifCond Tinhtrang "0"}}
                                                <td>Đã hủy</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "1"}}
                                                <td>Chờ duyệt</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "2"}}
                                                <td>Chờ ban giám hiệu chấp thuận</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "3"}}
                                                <td>Chờ báo giá</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "4"}}
                                                <td>Bảo trì</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "5"}}
                                                <td>Tiến hành mua thiết bị</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "6"}}
                                                <td>Tiến hành bàn giao thiết bị</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "7"}}
                                                <td>Tiến hành đưa thông tin thiết bị vào hệ thống</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "8"}}
                                                <td>Hoàn tất</td>
                                                {{else}}
                                                <td>Rỗng</td>
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}

                                                <td>
                                                    <a href="/denghi/admin/{{id}}" style="width:auto;">
                                                        <button type="button" class="button buttonBlue"
                                                            style="text-align:center;width:100px;">Xem</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    {{!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modalThemDeNghi">Thêm</button> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <div id="modalThemDeNghi" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm đề nghị</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">Mã đề nghị:</label>
                    <input type="number" class="form-control" id="id">
                </div>
                <div class="form-group">
                    <label for="NoiDung">Nội dung:</label>
                    <input type="text" class="form-control" id="NoiDung">
                </div>
                <div class="form-group">
                    <label for="NoiDung">Loại đề nghị:</label>
                    <select id="Loai" class="form-control">
                        <option value="1">Mua mới</option>
                        <option value="2">Sửa chữa</option>
                        <option value="3">Thanh lý</option>
                        <option value="4">Bảo trì</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="NgayDeNghi">Ngày đề nghị:</label>
                    <input type="date" class="form-control" id="NgayDeNghi">
                </div>
                <div class="form-group">
                    <label for="NgayNhanDeNghi">Ngày nhận đề nghị:</label>
                    <input type="date" class="form-control" id="NgayNhanDeNghi">
                </div>
                <div class="form-group">
                    <label for="NamThucHien">Năm thực hiện:</label>
                    <input type="number" min="1900" max="2099" step="1" class="form-control" id="NamThucHien">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_themDeNghi" class="btn btn-primary" data-dismiss="modal">Thêm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div> --}}

<script src="/javascripts/denghi.js"></script>


<script>
    {
        {
            !-- var socket = io.connect("http://localhost:3000");

            socket.emit('message-to-donvisudung', "Nhân viên đã tiếp nhận đơn của bạn"); --}
    }
</script>