<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper ">
    {{>sidebar_user}}
    <div class="main-panel">
        {{>navbar_user}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title"> Bản nháp đề nghị #{{data.denghi.id}}</h4>
                                <p class="card-category">Hãy điền đầy đủ thông tin bên dưới</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <label for="thongtinnguoidexuat">
                                        <h4><b style="color: #2196f3">Thông tin người đề xuất</b></h4>
                                    </label>
                                    <div class="row" style="margin-left: 10px" id="thongtinnguoidexuat">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Họ tên:</label>
                                                <input type="text" class="form-control" value="{{data.nguoidedon.hoten}}"
                                                    disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Thuộc đơn vị:</label>
                                                <input type="text" class="form-control" value="{{data.nguoidedon.TenPhong}}"
                                                    disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Số điện thoại:</label>
                                                <input type="text" class="form-control" value="{{data.nguoidedon.phone}}"
                                                    disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <button type="button" id="btn_TSTL" class="btn btn-primary pull-right"
                                            data-toggle="modal" data-target="#modalDSTB" style="display: none;">Thêm tài
                                            sản</button>
                                    </div>

                                    <label for="thongtinnguoidexuat">
                                        <h4><b style="color: #2196f3">Thông tin người liên hệ</b></h4>
                                    </label>
                                    <div class="row" style="margin-left: 10px">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Họ tên:</label>
                                                <input type="text" class="form-control" value="{{data.nguoidedon.hoten}}"
                                                    id="NguoiLienHe">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Số điện thoại:</label>
                                                <input type="text" class="form-control" value="{{data.nguoidedon.phone}}"
                                                    id="SDT">
                                            </div>
                                        </div>

                                    </div>
                                    <label class="bmd-label-floating">
                                        <h4><b style="color: #2196f3">Thông tin đơn đề nghị</b></h4>
                                    </label>
                                    <div class="row" style="margin: 0px 10px 0px 10px">
                                        <div class="row col-md-12">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="Loai">Chọn loại đơn</label>
                                                    <select id="Loai" class="form-control" style="margin-left: 10px">
                                                        <option value="1">Mua mới</option>
                                                        <option value="2">Sửa chữa, bảo trì</option>
                                                        <option value="3">Thanh lý</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Ngày đề nghị</label>
                                                <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{moment date=d format="YYYY-MM-DD"}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Sử dụng kinh phí:</label>
                                                <input type="text" class="form-control" id="NguonKinhPhi" value="{{data.denghi.SuDungKinhPhi}}">
                                            </div>
                                        </div>
                                        <div class="row col-md-12" id="timthietbi-area">
                                            <div class="form-group" style="margin: 10px 10px 0px 10px">
                                                <label for="Thietbi">Thiết bị cần
                                                            sửa:</label>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <input type="text" class="form-control" id="Thietbi">
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" id="btn_timthietbi"
                                                            class="btn btn-primary" data-dismiss="modal"
                                                            data-toggle="modal" data-target="#modalTimthietbi">Tìm thiết
                                                            bị</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating" for="NoiDung">Nội dung đơn đề
                                                    nghị</label>
                                                <input type="text" class="form-control" id="NoiDung" value="{{data.denghi.NoiDungHoSo}}">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" id="btn_themDeNghi" class="btn btn-primary pull-right"
                                        data-dismiss="modal">Thêm</button>
                                    <button type="button" id="btn_exportWord"
                                        class="btn btn-primary pull-right">Export</button>
                                        <button type="button" id="btn_back" data-toggle="modal" data-target="#modalMakeDraft"
                                        class="btn btn-primary pull-left">Trở về</button>
                                        

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalTimthietbi" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Danh sách thiết bị</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <input id="thietbi-search"name="thietbis" list="thietbis" />
                    <datalist id="thietbis"></datalist>
                    <h5 id="dialog-thietbi-tenthietbi"></h5>
                    <h5 id="dialog-thietbi-namsudung"></h5>
                    <h5 id="dialog-thietbi-giatri"></h5>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dialog" data-dismiss="modal">Đóng</button>
                <button type="button" id="btn_themThietBi" class="btn btn-dialog btn-primary" data-dismiss="modal">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div id="modalMakeDraft" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn muốn lưu bản thay đổi không ?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <h5 id="dialog-thietbi-tenthietbi"></h5>
                    <h5 id="dialog-thietbi-namsudung"></h5>
                    <h5 id="dialog-thietbi-giatri"></h5>
                    
                </div>
            </div>
            <div class="modal-footer">
                <a href="/denghisohuu"><button type="button" class="btn btn-dialog">Không</button></a>
                <button type="button" id="btn-luu" class="btn btn-dialog btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/denghisohuu-draft.js"></script>