<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper " id="current-user" data-userid="{{data.curUser}}">
    {{>sidebar_user}}
    <div class="main-panel">
        {{>navbar_user}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Danh sách đề nghị</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-sm" id="tabledenghi-sohuu"
                                        cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Nội dung hồ sơ</th>
                                                <th>Sử dụng kinh phí</th>
                                                <th>Ngày đề nghị</th>
                                                <th>Loại đơn đề nghị</th>
                                                <th >Tình trạng</th>
                                                <th style="text-align:center;width:100px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each data.denghi}}
                                            <tr>

                                                <td>{{NoiDungHoSo}}</td>
                                                <td>{{SuDungKinhPhi}}</td>
                                                <td>{{NgayDeNghi}}</td>

                                                {{#ifCond LoaiDeNghi 1}}
                                                <td>Mua mới</td>
                                                {{else}}
                                                {{#ifCond LoaiDeNghi 2}}
                                                <td>Sửa chữa</td>
                                                {{else}}
                                                {{#ifCond LoaiDeNghi 3}}
                                                <td>Thanh lý</td>
                                                {{else}}
                                                {{#ifCond LoaiDeNghi 4}}
                                                <td>Bảo trì</td>
                                                {{else}}
                                                <td>Rỗng</td>
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}


                                                {{#ifCond Tinhtrang "0"}}
                                                <td>Đã hủy</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "1"}}
                                                <td>Chờ duyệt</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "2"}}
                                                <td>Chờ ban giám hiệu chấp thuận</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "3"}}
                                                <td>Chờ báo giá</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "4"}}
                                                <td>Bảo trì</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "5"}}
                                                <td>Tiến hành mua thiết bị</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "6"}}
                                                <td>Tiến hành bàn giao thiết bị</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "7"}}
                                                <td>Tiến hành đưa thông tin thiết bị vào hệ thống</td>
                                                {{else}}
                                                {{#ifCond Tinhtrang "8"}}
                                                <td>Hoàn tất</td>
                                                {{else}}
                                                <td>Rỗng</td>
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}

                                                <td>
                                                    <a href="/denghisohuu/{{id}}" style="width:auto;">
                                                        <button type="button" class="button buttonBlue" style="text-align:center;width:100px;">Xem</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalThemDeNghi">Thêm</button> --}}
                                    <button type="button" class="btn btn-primary"
                                        onclick="window.location.href='denghisohuu/add'">Đề xuất đơn</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{{!-- <div id="modalThemDeNghi" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo đơn đề nghị</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="NoiDung">Thuộc đơn vị:</label>
                    <input type="text" class="form-control" id="donvi">
                </div>
                <div class="form-group">
                    <label for="NoiDung">Nội dung đề nghị:</label>
                    <input type="text" class="form-control" id="noidung">
                </div>
                <div class="form-group">
                    <label for="NoiDung">Người liên hệ:</label>
                    <input type="text" class="form-control" id="nguoilienhe">
                    <label for="NoiDung">Điện thoại:</label>
                    <input type="text" class="form-control" id="dienthoai">
                </div>
                <div class="form-group">
                    <label for="loai">Sử dụng kinh phí để:</label>
                    <select id="loai" class="form-control">
                        <option value="1">Mua mới</option>
                        <option value="2">Sửa chữa</option>
                        <option value="3">Thanh lý</option>
                        <option value="4">Bảo trì</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ngaydenghi">Ngày đề nghị:</label>
                    <input type="date" class="form-control" id="ngaydenghi">
                </div>
                <div class="form-group">
                    <label for="ngaynhandenghi">Ngày nhận đề nghị:</label>
                    <input type="date" class="form-control" id="ngaynhandenghi">
                </div>
                <div class="form-group">
                    <label for="namthuchien">Năm thực hiện:</label>
                    <input type="number" min="1900" max="2099" step="1" class="form-control" id="namthuchien">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_themDeNghi" class="btn btn-primary" data-dismiss="modal">Thêm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script src="/javascripts/denghisohuu.js"></script>