<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper ">
    {{>sidebar_user}}
    <div class="main-panel">
        {{>navbar_user}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Tạo đơn đề nghị</h4>
                                <p class="card-category">Hãy điền đầy đủ thông tin bên dưới</p>
                            </div>
                            <div class="card-body">
                                <div>
                                    <label for="thongtinnguoidexuat">
                                        <h4><b style="color: #2196f3">Thông tin người đề xuất</b></h4>
                                    </label>
                                    <div class="row" style="margin-left: 10px" id="thongtinnguoidexuat">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Họ tên:</label>
                                                <input type="text" class="form-control" value="{{curUser.hoten}}"
                                                    disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Thuộc đơn vị:</label>
                                                <input type="text" id="ipDonVi" class="form-control"
                                                    value="{{phongban.TenPhong}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Số điện thoại:</label>
                                                <input type="text" class="form-control" value="{{curUser.phone}}"
                                                    disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <label for="thongtinnguoidexuat">
                                        <h4><b style="color: #2196f3">Thông tin người liên hệ</b></h4>
                                    </label>
                                    <div class="row" style="margin-left: 10px">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Họ tên:</label>
                                                <input type="text" class="form-control" value="{{curUser.hoten}}"
                                                    id="NguoiLienHe">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Số điện thoại:</label>
                                                <input type="text" class="form-control" value="{{curUser.phone}}"
                                                    id="SDT">
                                            </div>
                                        </div>

                                    </div>
                                    <label class="bmd-label-floating">
                                        <h4><b style="color: #2196f3">Bước 1. Nhập thông tin cho đơn đề nghị</b></h4>
                                    </label>
                                    <div class="row" style="margin: 0px 10px 0px 10px">
                                        <div class="row col-md-12">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="Loai">Chọn loại đơn</label>
                                                    <select id="Loai" class="form-control" style="margin-left: 10px">
                                                        <option value="1">Mua mới</option>
                                                        <option value="2">Sửa chữa, bảo trì</option>
                                                        <option value="3">Thanh lý</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Ngày đề nghị</label>
                                                <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{moment date=d format="YYYY-MM-DD"}}" disabled>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="button" id="btn_TSTL" class="btn btn-primary pull-right"
                                                data-toggle="modal" data-target="#modalDSTB" style="display: none;">Thêm
                                                tài
                                                sản</button>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Sử dụng kinh phí:</label>
                                                <input type="text" class="form-control" id="NguonKinhPhi">
                                            </div>
                                        </div>
                                        <div class="row col-md-12" id="timthietbi-area">
                                            <div class="form-group" style="margin: 10px 10px 0px 10px">
                                                <label for="Thietbi">Thiết bị được chọn:</label>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-hover responsive"
                                                                id="tablethietbitimduoc" cellspacing="0" width="100%">
                                                                <thead class=" text-primary">
                                                                    <tr>

                                                                        <th>Mã thiết bị</th>
                                                                        {{!-- <th>Tên thiết bị</th>
                                                                        <th>Năm sử dụng</th>
                                                                        <th>Giá trị</td>
                                                                        <th>Tình trạng</th>
                                                                        <th data-visible="false">Mã Tài Sản</th>
                                                                        <th></th> --}}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                            {{!-- <tfoot>
                                                                <button type="button" id="btn_saveDSTB" class="btn btn-primary" data-dismiss="modal">Save</button>
                                                            </tfoot> --}}
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" id="btn_timthietbi"
                                                            class="btn btn-primary" data-dismiss="modal"
                                                            data-toggle="modal" data-target="#modalDSTB">Tìm thiết
                                                            bị</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating" for="NoiDung">Nội dung đơn đề
                                                    nghị</label>
                                                <textarea rows="4" class="form-control" id="NoiDung"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <label class="bmd-label-floating">
                                        <h4><b style="color: #2196f3">Bước 2. Export đơn đề nghị và ký đơn</b></h4>
                                    </label>
                                    <div class="row" style="margin: 0px 10px 0px 10px">
                                        <button type="button" id="btn_exportWord"
                                            class="btn btn-primary pull-right">Export</button>
                                    </div>

                                    <label class="bmd-label-floating">
                                        <h4><b style="color: #2196f3">Bước 3. Upload đơn đề nghị đã có chữ ký của đơn vị
                                                sử dụng</b></h4>
                                    </label>
                                    <div class="row" style="margin: 0px 10px 0px 10px">

                                        {{!-- <form runat="server">
                                            <input type='file' id="imgInp" />
                                            <br><img id="blah" src="#" alt="your image" style="margin: 10px"/>
                                        </form> --}}
                                        <form action="/denghisohuu/upload" method="POST" enctype="multipart/form-data" id="formular">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form">
                                                        <label for="example-input-file"> </label>
                                                        <input type="file" name="file" id="imgInp"
                                                            class="form-control-file border">
                                                        <br><img id="blah" src="#" alt="your image" 
                                                            style="margin: 10px; max-width:50%" />
                                                    </div>
                                                    <div class="col-auto">
                                                        {{!-- <br><button type="submit" formmethod="post" style="display: none"
                                                            formaction="/denghisohuu/add/uploads"
                                                            class="btn btn-primary">Submit</button> --}}
                                                        <br><button type="button" id="btn_luuAnhDonDenghi"
                                                            class="btn btn-primary pull-right"
                                                            data-dismiss="modal">Lưu Ảnh</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <button type="button" id="btn_themDeNghi" class="btn btn-primary pull-right"
                                        data-dismiss="modal">Thêm</button>

                                    <button type="button" id="btn_back" data-toggle="modal"
                                        data-target="#modalMakeDraft" class="btn btn-primary pull-left">Trở về</button>


                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


{{!-- <div id="modalTimthietbi" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Danh sách thiết bị</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <input id="thietbi-search" name="thietbis" list="thietbis" />
                    <datalist id="thietbis"></datalist>
                    <h5 id="dialog-thietbi-tenthietbi"></h5>
                    <h5 id="dialog-thietbi-namsudung"></h5>
                    <h5 id="dialog-thietbi-giatri"></h5>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dialog" data-dismiss="modal">Đóng</button>
                <button type="button" id="btn_themThietBi" class="btn btn-dialog btn-primary"
                    data-dismiss="modal">Thêm</button>
            </div>
        </div>
    </div>
</div> --}}

<div id="modalDSTB" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Danh sách thiết bị</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover responsive" id="tablethietbi" cellspacing="0"
                        width="100%">
                        <thead class=" text-primary">
                            <tr>

                                <th data-visible="false">ID</th>
                                <th data-visible="false">IDBomon</th>
                                <th>Tên thiết bị</th>
                                <th>Năm sử dụng</th>
                                <th>Giá trị</td>
                                <th>Tình trạng</th>
                                <th data-visible="false">Mã Tài Sản</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each thietbi}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{IdBomon}}</td>
                                <td>{{TenThietBi}}</td>
                                <td>{{NamSuDung}}</td>
                                <td>{{GiaTri}}</td>
                                <td>{{TinhTrang}}</td>
                                <td>{{TS_MaTaiSan}}</td>
                                <td><input type="checkbox" value={{id}} class="cbtb" /> &nbsp; </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-dialog" data-dismiss="modal">Đóng</button>
                    <button type="button" id="btn_themThietBi" class="btn btn-dialog btn-primary"
                        data-dismiss="modal">Thêm</button>
                    {{!-- <tfoot>
            <button type="button" id="btn_saveDSTB" class="btn btn-primary" data-dismiss="modal">Save</button>
        </tfoot> --}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalMakeDraft" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn muốn lưu bản nháp không ?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <h5 id="dialog-thietbi-tenthietbi"></h5>
                    <h5 id="dialog-thietbi-namsudung"></h5>
                    <h5 id="dialog-thietbi-giatri"></h5>

                </div>
            </div>
            <div class="modal-footer">
                <a href="/denghisohuu"><button type="button" class="btn btn-dialog">Không</button></a>
                <button type="button" id="btn-taobannhap" class="btn btn-dialog btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/denghisohuu.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });

</script>