<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<div class="wrapper ">
    {{>sidebar}}
    <div class="main-panel">
        {{>navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div id="div_print" class="container">
                            <h2 id="idthietbi">{{taisan.id}}</h2>
                            <h2 id="tenthietbi">{{taisan.TenTaiSan}}</h2>
                            <h2 id="soluong" style="display:none">{{taisan.SoLuong}}</h2>
                            <h2 id="phongban" style="display: none">{{taisan.MaPhong}}</h2>
                            <canvas id="maqr"></canvas>
                            <script src="/javascripts/qrcode.min.js"></script>
                            <script src="/javascripts/qrcode.js"></script>
                        </div>
                        <div class="container">
                            <table class="table table-striped table-bordered table-sm" id="tabledetail" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên thiết bị</th>
                                        <th>Năm sử dụng</th>
                                        <th>Đơn vị sử dụng</th>
                                        <th>Gía trị</th>
                                        <th>Tình trạng</th>
                                        <th></th>
                                        <th style="visibility:hidden">ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each taisan.ThietBis}}
                                    <tr>
                                        <td><a href="/thietbi/{{id}}">{{id}}</a></td>
                                        <td>{{TenThietBi}}</td>
                                        <td>{{NamSuDung}}</td>
                                        <td>{{bomon.TenBoMon}}</td>
                                        <td>{{GiaTri}}</td>
                                        <td>{{TinhTrang}}</td>
                                        <td><input type="checkbox" class="cbox" name="idchecked" data-giatri={{GiaTri}} value={{id}}></td>
                                        <td style="visibility:collapse">{{id}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="container">
                            <div id="div_btn">
    <button type="button" class="button buttonBlue" data-toggle="modal" data-target="#modalThemThietBi">
        Thêm
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <button type="button" class="button buttonBlue" data-toggle="modal" data-target="#modalChuyen">
        Chuyển
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <button onclick="printContent()" type="button" class="button buttonRed" id="btn_inma">
        In
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <button onclick="pageback()" type="button" class="button buttonGreen" id="btn_back">
        Trở về
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</div> 
</div>

<div id="modalChuyen" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chuyển thiết bị</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="DVSD">Đơn vị sử dụng</label>
            <select name="DonViSuDung" id="DVSDChuyen">
                {{#each fullbomon}}
                <option value={{id}}>{{TenBoMon}}</option>
                {{/each}}
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_ChuyenThietBi" class="btn btn-primary" data-dismiss="modal">Chuyển</button> 
        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>

<div id="modalThemThietBi" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm thiết bị</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="amount">Nhập số lượng thiết bị cần thêm</label>
            <input type="number" class="form-control" id="ipamount">
        </div>
        <div class="form-group">
            <label for="ipTenTB">Tên thiết bị</label>
            <input type="text" class="form-control" id="ipTenTB" >
        </div>
        <div class="form-group">
            <label for="ipGiaTriTB">Giá trị</label>
            <input type="number" class="form-control" id="ipGiaTriTB" value={{taisan.ThietBis.[0].GiaTri}}>
        </div>
        <div class="form-group">
            <label for="DVSD">Đơn vị sử dụng</label>
            <select name="DonViSuDung" id="DVSD">
                {{#each bomon}}
                <option value={{id}}>{{TenBoMon}}</option>
                {{/each}}
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_themThietBi" class="btn btn-primary" data-dismiss="modal">Thêm</button> 
        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>
<script>
    function printContent() {
        {{!-- var canvas=document.getElementById("maqr");
        var tenthietbi=document.getElementById("tenthietbi").textContent;
        var img=canvas.toDataURL("image/png");
        var popup;
        popup=window.open();
        popup.document.write('<h2>'+tenthietbi+'<h2><img src="'+img+'"/>');
        popup.focus();
        popup.onload=function(){window.print()} --}}
        document.getElementById("div_btn").style.visibility="hidden";
        window.print();
        setTimeout(function(){
            document.getElementById("div_btn").style.visibility="visible";
        })
    }
    function pageback() {
        window.location.href = "/taisan";
    }
</script>

<script src="/javascripts/tabletaisan.js"></script>
<script src="/javascripts/tablethietbi.js"></script>