<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper">
    {{>sidebar}}
    <div class="main-panel">
        {{>navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div id="div_print" class="container">
                            <h2 id="idthietbi">{{thietbi.id}}</h2>
                            <h2 id="tenthietbi">{{thietbi.TenThietBi}}</h2>
                            <canvas id="maqr"></canvas>
                            <script src="/javascripts/qrcode.min.js"></script>
                            <script src="/javascripts/qrcode.js"></script>
                        </div>
                        <h3>Tình trạng hiện tại: {{thietbi.TinhTrang}}</h3>
                        <h3>Năm sử dụng: {{thietbi.NamSuDung}}</h3>
                        <h3>Giá trị: {{thietbi.GiaTri}}</h3>
                        <div class="container">
                            <div id="div_btn">
                                <select id="input_tinhtrang" class="edittext edittextLight"name="tinhtrang" size="1">
                                    <option value="Bình thường">Bình thường</option>
                                    <option value="Thanh lý">Đã thanh lý</option>
                                    <option value="Hư hỏng">Hư hỏng</option>
                                    <option value="Mất">Mất</option>
                                </select>

                                <button type="button" class="button buttonBlue" id="btn_luutrangthai">
                                    Lưu trạng thái
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>

                                <button onclick="printContent()" type="button" class="button buttonRed" id="btn_inma">
                                    In
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>
                                <br>
                                <button onclick="pageback()" type="button" class="button buttonGreen" id="btn_back">
                                    Trở về
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>


<script>
    function printContent() {
        {{!-- var canvas = document.getElementById("maqr");
                var tenthietbi = document.getElementById("tenthietbi").textContent;
                var img = canvas.toDataURL("image/png");
                var popup;
                popup = window.open();
                popup.document.write('<h2>' + tenthietbi + '<h2><img src="' + img + '"/>');
                popup.focus();
                popup.onload = function () { window.print() } --}}
        document.getElementById("div_btn").style.visibility = "hidden";
        window.print();
        setTimeout(function () {
            document.getElementById("div_btn").style.visibility = "visible";
        })
    }
    function pageback() {
        window.location.href = "/thietbi";
    }
</script>

<script src="/javascripts/tablethietbi.js"></script>