<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/status_tracking.css">
<link href="/stylesheets/dialog.css" rel="stylesheet" />
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper ">
    {{>sidebar_user}}
    <div class="main-panel">
        {{>navbar_user}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title" id="InfoDon" data-idnguoixuly="{{data.denghi.idNguoiXulyDon}}">
                                    Thông tin đơn đề nghị</h4>
                                <p id="MaDon" class="card-category" data-madon="{{data.denghi.id}}">Mã đơn:
                                    #{{data.denghi.id}}</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Nội dung đề nghị:</label>
                                                <input type="text" class="form-control" id="NoiDung"
                                                    value="{{data.denghi.NoiDungHoSo}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Ngày đề nghị</label>
                                                <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{data.denghi.NgayDeNghi}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Ngày nhận</label>
                                                <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{data.denghi.NgayNhan}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="loai">Loại đơn:</label>
                                                <input type="text" class="form-control" value="{{#ifCond data.denghi.LoaiDeNghi 1}}Mua mới
                                                {{else}}
                                                {{#ifCond data.denghi.LoaiDeNghi 2}}Sửa chữa
                                                {{else}}
                                                {{#ifCond data.denghi.LoaiDeNghi 3}}Thanh lý
                                                {{else}}
                                                {{#ifCond data.denghi.LoaiDeNghi 4}}Bảo trì
                                                {{else}}Rỗng
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Trạng thái đơn đề nghị</label>
                                                {{!-- <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{data.denghi.updatedAt}}" disabled> --}}
                                                <ol id="StatusTracking" class="progtrckr" data-steps="8"
                                                    data-tinhtrang="{{data.denghi.Tinhtrang}}">
                                                    <li>Gửi đơn thành công</li>
                                                    <li>Đơn đã được nhận</li>
                                                    <li>Đơn được chập thuận</li>
                                                    <li>Báo giá thành công</li>
                                                    <li>Đơn được chấp nhận</li>
                                                    <li>Hoàn tất mua sắm</li>
                                                    <li>Hoàn tất bàn giao</li>
                                                    <li>Xét duyệt hoàn tất</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="status-tracking-detail">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Chi tiết trạng thái đơn đề
                                                    nghị</label>
                                                {{!-- <input type="text" class="form-control" id="NgayDeNghi"
                                                    value="{{data.denghi.updatedAt}}" disabled> --}}
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm"
                                                        data-tinhtrang="{{data.denghi.Tinhtrang}}" id="tablestatus"
                                                        cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th><b>Trạng thái đơn đề nghị</b></th>
                                                                <th><b>Hành động</b></th>
                                                                <th style="text-align:center;width:auto;height: auto;">
                                                                    <b>Tiến độ</b></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1. Gửi đơn thành công</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2. Đơn đề nghị đã được tiếp nhận bởi nhân viên
                                                                    <b>{{data.nhanvienXulydon.hoten}}</b></td>
                                                                <td>
                                                                    <button type="button" title="Mẫu đơn đề nghị"
                                                                        id="btn-xemdondenghixetduyet"
                                                                        class="button buttonBlue"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-imgpath="{{data.denghi.DonDenghiXetDuyetImgPath}}"
                                                                        data-toggle="modal" data-target="#xemTaiLieu">
                                                                        <font size="2">Xem mẫu đơn đề nghị</font>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3. Đơn đề nghị đã được Hiệu trưởng chấp thuận</td>
                                                                <td>
                                                                    <button type="button" title="Mẫu đơn đề nghị"
                                                                        id="btn-xemdondenghifinal"
                                                                        class="button buttonBlue"
                                                                        style="text-align:center;width:auto;height: auto;"
                                                                        data-imgpath="{{data.denghi.DonDenghiFinalImgPath}}"
                                                                        data-toggle="modal" data-target="#xemTaiLieu">
                                                                        <font size="2">Xem mẫu đơn đề nghị cuối cùng</font>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4. Báo giá</td>
                                                                <td>
                                                                    <button type="button" id="btn-xembaogia"
                                                                        class="button buttonBlue"
                                                                        data-filepath="{{data.denghi.DsBaogiaPath}}"
                                                                        data-toggle="modal" data-target="#xemDsBaogia"
                                                                        style="text-align:center;width:auto;height: auto;">
                                                                        <font size="2">Xem danh sách báo giá</font>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5. Xét duyệt đơn</td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>6. Tiến hành thủ tục mua hàng</td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>7. Tiến hành thủ tục giao hàng</td>
                                                                <td>
                                                                </td>
                                                                <td>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>8. Hoàn tất</td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    {{!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modalThemDeNghi">Thêm</button> --}}
                                                    <button type="button" class="btn btn-primary toggle-huydon"
                                                        data-toggle="modal" data-target="#myModal">Hủy
                                                        đơn</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-profile">
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img" src="/assests/img/sample/sample_avatar.png" />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-gray">Người đề xuất đơn</h6>
                                        <h4 class="card-title">{{data.nguoidedon.hoten}}</h4>
                                        <p class="card-description">
                                            Thuộc đơn vị: {{data.nguoidedon.idPhongban}}
                                            </br>
                                            Email :{{data.nguoidedon.email}}
                                            </br>
                                            Số điện thoại: {{data.nguoidedon.phone}}
                                        </p>
                                        <a href="#pablo" class="btn btn-primary btn-round">Liên hệ</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12" id='info-nguoixulydon'>
                                <div class="card card-profile">
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img" src="/assests/img/sample/sample_avatar_female.png" />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-gray">Người xử lý đơn</h6>
                                        <h4 class="card-title">{{data.nhanvienXulydon.hoten}}</h4>
                                        <p class="card-description">
                                            Thuộc đơn vị: {{data.nhanvienXulydon.idPhongban}}
                                            </br>
                                            Email :{{data.nhanvienXulydon.email}}
                                            </br>
                                            Số điện thoại: {{data.nhanvienXulydon.phone}}
                                        </p>
                                        <a href="#pablo" class="btn btn-primary btn-round">Liên hệ</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Lý do hủy đơn</h4>
            </div>

            <div class="modal-body">
                <!--Select with pure css-->
                <div class="select">
                    <select class="select-text" id="lydo-huydon" required>
                        <option value="1">Ban giám hiệu không đồng ý</option>
                        <option value="2">Đơn vị sử dụng yêu cầu hủy đơn</option>
                    </select>
                    <span class="select-highlight"></span>
                    <span class="select-bar"></span>
                    <label class="select-label">Chọn</label>
                </div>
                <!--Select with pure css-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dialog " data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-dialog btn-danger dt-huydon">Hủy đơn</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade bd-example-modal-lg" id="xemTaiLieu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Tài liệu</h4>
            </div>

            <div class="modal-body">
                <!--Select with pure css-->
                <div class="img">
                    <img id="DocImg" src="" alt="Loi hinh anh">
                </div>
                <!--Select with pure css-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dialog " data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade bd-example-modal-lg" id="xemDsBaogia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Danh sách file báo giá</h4>
            </div>

            <div id="dsbaogia" class="modal-body">

                {{!-- <div class="img">
                    <img id="DocImg" src="" alt="Loi hinh anh">
                </div> --}}

            </div>
            <select id="baogiaselect" style="width: auto">

            </select><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-dialog " data-dismiss="modal">Đóng</button>
                 <button type="button" id="btn-chonbaogia" class="btn btn-dialog btn-primary">Chọn</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->


<script src="/javascripts/status_tracking.js"></script>
<script src="/javascripts/tablestatus_dvsd.js"></script>

<script>

    $('.dt-huydon').each(function () {
        $(this).on('click', function (evt) {
            let content = {}
            //id don de nghi
            let id = parseInt(document.getElementById("MaDon").dataset.madon);
            let lydohuydon = $("#lydo-huydon option:selected").text();

            content.id = id;
            content.lydohuydon = lydohuydon;
            $.ajax({
                url: '/denghi/huydon',
                type: 'PATCH',
                data: JSON.stringify(content),
                contentType: 'application/json',
                success: function () {
                    window.location.reload(true);
                },
                error: function () {
                    alert("that bai");
                }
            });
        });
    });


</script>