<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper ">
    {{>sidebar}}
    <div class="main-panel">
        {{>navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Danh sách hồ sơ</h4>
                                <p class="card-category"> Chỉnh sửa</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-sm" id="tabletaisan"
                                        cellspacing="0" width="100%" style="display: none">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên tài sản</th>
                                                <th data-visible="false">Model</th>
                                                <th>Năm sản xuất</th>
                                                <th>Số lượng</th>
                                                <th>Giá Trị</th>
                                                <th>Đơn vị sử dụng</th>
                                                <th>Mã đề nghị</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each taisan}}
                                            <tr>
                                                <td><a href="/taisan/{{id}}">{{id}}</a></td>
                                                <td>{{TenTaiSan}}</td>
                                                <td>{{Model}}</td>
                                                <td>{{NamSanXuat}}</td>
                                                <td>{{SoLuong}}</td>
                                                <td>{{GiaTri}}</td>
                                                <td>
                                                    {{phongban.TenPhong}}
                                                </td>
                                                <td>{{MaDeNghi}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table> 
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalThemTaiSan">Thêm</button>
                                    <button type="button" class="btn btn-danger" id="btn_XoaTaiSan">Xoá</button>
                                    <label for="PhongBan">Phòng ban:</label>
                                        <select name="PhongBan" id="PhongBanTS">
                                            {{#each phongban}}
                                            <option value={{id}}>{{TenPhong}}</option>
                                            {{/each}}
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>

<div id="modalThemTaiSan" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm tài sản</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="id">Mã tài sản:</label>
            <input type="text" class="form-control" id="id">
        </div>
        <div class="form-group">
            <label for="MaHoSo">Mã hồ sơ</label>
            <input type="text" class="form-control" id="MaHoSo">
        </div>
        <div class="form-group">
            <label for="TenTaiSan">Tên tài sản:</label>
            <input type="text" class="form-control" id="TenTaiSan">
        </div>
        <div class="form-group">
            <label for="Model">Model:</label>
            <input type="text" class="form-control" id="Model">
        </div>
        <div class="form-group">
            <label for="NamSanXuat">Năm sản xuất:</label>
            <input type="date" class="form-control" id="NamSanXuat">
        </div>
        <div class="form-group">
            <label for="PhongBan">Phòng ban:</label>
            <select name="PhongBan" id="PhongBan">
                {{#each phongban}}
                <option value={{id}}>{{TenPhong}}</option>
                {{/each}}
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_themTaiSan" class="btn btn-primary" data-dismiss="modal">Thêm</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>

<script src="/javascripts/tabletaisan.js"></script>
