<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<div class="wrapper ">
    {{>sidebar}}
    <div class="main-panel">
        {{>navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Lịch sử tình trạng</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="tablelstt"
                                        cellspacing="0" width="100%" style="display: none">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>Mã thiết bị</th>
                                                <th>Tên thiết bị</th>
                                                <th>Giá trị</th>
                                                <th>Tình trạng</th>
                                                <th>Thời gian cập nhật</th>
                                            </tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each lichsu}}
                                            <tr>
                                                <td>{{MaThietBi}}</td>
                                                <td>{{ThietBi.TenThietBi}}</td>
                                                <td>{{ThietBi.GiaTri}}</td>
                                                <td>{{TinhTrang}}</td>
                                                <td>{{createdAt}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary" id="btn_SoSanh"><a href="/lskk/sosanh/2018&2019">So sánh</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="/javascripts/tablelstt.js"></script>

