{{!-- <body> --}}
  <link rel="stylesheet" href="/stylesheets/material.css">
  <link rel="stylesheet" href="/stylesheets/loginpage.css">
  <div class="container">
    <div class="panel panel-primary">
      <hgroup>
        <h1>Smart Inventory</h1>
        <h3>Đăng nhập</h3>
      </hgroup>

      <div class="panel-body">
        <form method="post" action="/users">
          <div class="group">
            <input type="text" name="username"><span class="highlight"></span><span class="bar"></span>
            <label>Username</label>
          </div>
          <div class="group">
            <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
          </div>
          {{#if error}}
          <div class="alert alert-danger">
            <h6>{{error}}</h6>
          </div>
          {{/if}}
          <button type="submit" class="button buttonBlue">
            Login
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
          </button>
          
          <h6 style="text-align: end;"><a class="pull-right" href="/users/register">Đăng ký</a></h6>
        </form>
      </div>
    </div>
  </div>

  
  <script src="/javascripts/login.js"></script>
{{!-- </body> --}}