<div id="nhandangmau" data-id="{{so}}">
<embed data-id ="1" src="/assests/doc/Mau_qui trinh mua sam thiet bi-1.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="2" src="/assests/doc/Mau_qui trinh mua sam thiet bi-2.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="3" src="/assests/doc/Mau_qui trinh mua sam thiet bi-3.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="4" src="/assests/doc/Mau_qui trinh mua sam thiet bi-4.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="5" src="/assests/doc/Mau_qui trinh mua sam thiet bi-5.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="6" src="/assests/doc/Mau_qui trinh mua sam thiet bi-6.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="7" src="/assests/doc/Mau_qui trinh mua sam thiet bi-7.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="8" src="/assests/doc/Mau_qui trinh mua sam thiet bi-8.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="9" src="/assests/doc/Mau_qui trinh mua sam thiet bi-9.pdf" width="800px" height="2100px" style="display:none"/>
<embed data-id ="10" src="/assests/doc/Mau_qui trinh mua sam thiet bi-10.pdf" width="800px" height="2100px" style="display:none"/>
</div>

<script src="/javascripts/print.js"></script>