<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper ">
    {{>sidebar}}
    <div class="main-panel">
        {{>navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Danh sách kết quả kiểm kê</h4>
                                <p class="card-category"> Chỉnh sửa</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-sm" id="tablekiemke"
                                        cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Ngày kiểm kê</th>
                                                <th>Người kiểm kê</th>
                                                <th>Tình trạng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each dexuatkiemkes}}
                                            <tr>
                                                <td><a href="/kqkk/{{id}}">{{id}}</a></td>
                                                <td>{{createdAt}}</td>
                                                <td>{{NguoiTao.hoten}}</td>
                                                {{#ifCond IdNguoiDuyet null}}
                                                <td>Chờ duyệt</td>
                                                {{else}}
                                                <td>Đã được duyệt bởi {{NguoiDuyet.hoten}}</td>
                                                {{/ifCond}}
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    {{!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modalThemTaiSan">Thêm</button>
                                    <button type="button" class="btn btn-danger" id="btn_XoaTaiSan">Xoá</button> --}}
                                    <label for="PhongBan">Phòng ban:</label>
                                    <select name="PhongBan" id="PhongBanTS">
                                        {{!-- {{#each phongban}}
                                        <option value={{id}}>{{TenPhong}}</option>
                                        {{/each}} --}}
                                        <option style="align-content: center" selected disabled> Chọn phòng ban</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>

{{!-- <div id="modalThemTaiSan" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm tài sản</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">Mã tài sản:</label>
                    <input type="text" class="form-control" id="id">
                </div>
                <div class="form-group">
                    <label for="MaHoSo">Mã hồ sơ</label>
                    <input type="text" class="form-control" id="MaHoSo">
                </div>
                <div class="form-group">
                    <label for="TenTaiSan">Tên tài sản:</label>
                    <input type="text" class="form-control" id="TenTaiSan">
                </div>
                <div class="form-group">
                    <label for="Model">Model:</label>
                    <input type="text" class="form-control" id="Model">
                </div>
                <div class="form-group">
                    <label for="NamSanXuat">Năm sản xuất:</label>
                    <input type="date" class="form-control" id="NamSanXuat">
                </div>
                <div class="form-group">
                    <label for="PhongBan">Phòng ban:</label>
                    <select name="PhongBan" id="PhongBan">
                        {{#each phongban}}
                        <option value={{id}}>{{TenPhong}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_themTaiSan" class="btn btn-primary" data-dismiss="modal">Thêm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div> --}}

<script src="/javascripts/tablekiemke.js"></script>
