<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper ">
    {{>sidebar}}
    <div class="main-panel">
        {{>navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Quản lý tăng giảm</h4>
                            </div>
                            
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-sm" id="tabletanggiam"
                                        cellspacing="0" width="100%" style="display: none">
                                        <thead>
                                            <tr>
                                                <th>Tên tài sản</th>
                                                <th>Loại</th>
                                                <th>Giá Trị</th>
                                                <th>Phòng ban hiện tại</th>
                                                <th>Phòng ban cũ</th>
                                                <th>Mã đề nghị</th>
                                                <th>Thời gian</th>
                                                <th data-visible="false">Loai</th>
                                                <th data-visible="false">PhongBanEff</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each lichsu}}
                                            <tr>
                                                <td>{{TaiSan.TenTaiSan}}</td>
                                                {{#ifCond Loai 1}}
                                                <td>Tăng tài sản</td>
                                                {{else}}
                                                {{#ifCond Loai 0}}
                                                <td>Giảm tài sản</td>
                                                {{else}}
                                                {{#ifCond Loai 2}}
                                                <td>Giảm tài sản</td>
                                                {{else}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                
                                                <td>{{GiaTri}}</td>
                                                <td>
                                                    {{TaiSan.phongban.TenPhong}}
                                                </td>
                                                <td>
                                                    {{phongban.TenPhong}}
                                                </td>
                                                <td>{{MaDeNghi}}</td>
                                                <td>{{createdAt}}</td>
                                                <td>{{Loai}}</td>
                                                {{#ifCond Loai 1}}
                                                <td>{{TaiSan.phongban.TenPhong}}</td>
                                                {{else}}
                                                {{#ifCond Loai 0}}
                                                <td>{{TaiSan.phongban.TenPhong}}</td>
                                                {{else}}
                                                {{#ifCond Loai 2}}
                                                <td>{{phongban.TenPhong}}</td>
                                                {{else}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                                {{/ifCond}}
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        <table border="0" cellspacing="5" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td>Thời gian bắt đầu:</td>
                                                <td><input name="min" id="min" type="text"></td>
                                            </tr>
                                            <tr>
                                                <td>Thời gian kết thúc:</td>
                                                <td><input name="max" id="max" type="text"></td>
                                            </tr>
                                        </tbody>
                                         <tfoot>
                                            <tr>
                                                <th id="tstang" colspan="4" style="text-align:right">Tổng tài sản tăng:</th>
                                                <th></th>   
                                                <th id="tsgiam" colspan="4" style="text-align:right">Tổng tài sản giảm:</th>
                                            </tr>
                                        </tfoot>
                                        </table>
                                    </table> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="/javascripts/tabletanggiam.js"></script>
