<body>
	<div class="container">
		<link rel="stylesheet" href="/stylesheets/material.css">
		<div class="panel panel-primary">
			<hgroup>
				<h3>Đăng ký</h3>
			</hgroup>
			<div class="panel-body">
				<form role="form" id="regisForm" method="POST">
					<div class="group">
						<input type="text" id="ip_usernamereg" name="Username"><span class="highlight"></span><span
							class="bar"></span>
						<label>Username</label>
					</div>
					<div class="group">
						<input type="password" id="ip_pwdreg" name="password"><span class="highlight"></span><span
							class="bar"></span>
						<label>Password</label>
					</div>
					<div class="group">
						<input type="password" id="ip_cfpwd" name="cfm_pwd"><span class="highlight"></span><span
							class="bar"></span>
						<label>Confirm Password</label>
					</div>
					<div class="group">
						<input type="text" id="ip_hoten" name="hoten"><span class="highlight"></span><span
							class="bar"></span>
						<label>Họ tên</label>
					</div>
					<div class="group">
						<input type="text" id="ip_sdt" name="sdt"><span class="highlight"></span><span
							class="bar"></span>
						<label>Số điện thoại</label>
					</div>
					<div class="group">
						<input type="text" id="ip_email" name="email"><span class="highlight"></span><span
							class="bar"></span>
						<label>Email</label>
					</div>
					<button type="submit" class="button buttonBlue" id="btnRegisUser">
						Đăng kí
						<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
					</button>
				</form>
			</div>
		</div>
	</div>

	<script src="/javascripts/login.js"></script>
</body>