<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/yearpicker.css">
<div class="wrapper ">
    {{>sidebar}}
    <div class="main-panel">
        {{>navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">So sánh tình trạng</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="tablelskk"
                                        cellspacing="0" width="100%" style="display: none">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>Mã thiết bị</th>
                                                <th>Tên thiết bị</th>
                                                <th>Tình trạng</th>
                                                <th>Thời gian cập nhật</th>
                                                <th>Tình trạng so sánh</th>
                                                <th>Thời gian tình trạng so sánh</th>
                                            </tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each lichsu}}
                                            <tr>
                                                <td>{{MaThietBi}}</td>
                                                <td>{{TenThietBi}}</td>
                                                <td>{{TinhTrang}}</td>
                                                <td>{{createdAt}}</td>
                                                <td>{{Tinhtrang2}}</td>
                                                <th>{{Thoigian2}}</th>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    <table border="0" cellspacing="5" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td>Năm so sánh:</td>
                                                <td><input class="yearselect" value={{data.nam1}} id="namss1" type="text"></td>
                                            </tr>
                                            <tr>
                                                <td>Năm so sánh:</td>
                                                <td><input class="yearselect" value={{data.nam2}} id="namss2" type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="/javascripts/year-select.js"></script>
<script src="/javascripts/tablelskk.js"></script>

