<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

{{!-- <div class="container">
    <button type="button" class="button buttonBlue" id="btn-addtb">
        Thêm
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <button type="button" class="button buttonRed" id="btn-removetb">
        Xóa
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <button type="button" class="button buttonGreen" id="btn-thanhlytb">
        Thanh lý
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</div> --}}

<!--<div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar(this)">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="list">
        <div class="item"><a class="a-item" href="/taisan">Quản lý tài sản</a></div>
        <div class="item"><a class="a-item" href="/thietbi">Quản lý thiết bị</a></div>
        <div class="item"><a class="a-item" href="/users">User profile</a></div>
    </div>
</div>-->
<div class="wrapper ">
    {{>sidebar_user}}
    <div class="main-panel">
        {{>navbar_user}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Danh sách thiết bị</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="tablethietbisohuu"
                                        cellspacing="0" width="100%" style="display: none">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên thiết bị</th>
                                                <th>Năm sử dụng</th>
                                                <th>Giá trị</td>
                                                <th>Đơn vị sử dụng</th>
                                                <th>Tình trạng</th>
                                                <th data-visible="true">Mã Tài Sản</th>
                                            </tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each thietbi}}
                                            <tr>
                                                <td><a href="/thietbisohuu/{{id}}">{{id}}</a></td>
                                                <td>{{TenThietBi}}</td>
                                                <td>{{NamSuDung}}</td>
                                                <td>{{GiaTri}}</td>
                                                <td>
                                                    {{bomon.TenBoMon}}
                                                </td>
                                                <td>{{TinhTrang}}</td>
                                                <td>{{TS_MaTaiSan}}</td>    
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        {{!-- <tfoot>
            <tr>
                <th>ID</th>
                <th>Tên thiết bị</th>
                <th>Tình trạng thanh lý</th>
                <th>Ngày thanh lý</th>
                <th>Năm sử dụng</th>
                <th>Giá trị</th>
                <th>Phòng ban</th>
                <th>Tình trạng</th>
            </tr>
        </tfoot> --}}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>

<script src="/javascripts/tabletbsh.js"></script>