<link rel="stylesheet" href="/stylesheets/main.css">
<link href="/stylesheets/material-dashboard.css?v=2.1.1" rel="stylesheet" />

<div class="wrapper ">
    {{>sidebar}}
    <div class="main-panel">
        {{>navbar}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Tài sản theo phòng ban</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-sm" id="tabletspb"
                                        cellspacing="0" width="100%" style="display: none">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên tài sản</th>
                                                <th>Model</th>
                                                <th>Năm sản xuất</th>
                                                <th>Số lượng</th>
                                                <th>Giá Trị</th>
                                                <th>Đơn vị sử dụng</th>
                                                <th>Mã đề nghị</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each taisan}}
                                            <tr>
                                                <td><a href="/taisan/{{id}}">{{id}}</a></td>
                                                <td>{{TenTaiSan}}</td>
                                                <td>{{Model}}</td>
                                                <td>{{NamSanXuat}}</td>
                                                <td>{{SoLuong}}</td>
                                                <td>{{GiaTri}}</td>
                                                <td>
                                                    {{phongban.TenPhong}}
                                                </td>
                                                <td>{{MaDeNghi}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    <table border="0" cellspacing="5" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td>Ngày bắt đầu:</td>
                                                <td><input name="min" id="min" type="text"></td>
                                            </tr>
                                            <tr>
                                                <td>Ngày kết thúc:</td>
                                                <td><input name="max" id="max" type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</div>
<script src="/javascripts/tabletspb.js"></script>