body{
    background:url('https://aadcdn.msftauthimages.net/dbd5a2dd-ah3e-jlzdfep3gmw-lexfkv9ivxdn9bga5wogscfsbu/logintenantbranding/0/illustration?ts=636265508690727638');
    background-size: cover;
 background-repeat: no-repeat;
    
}
h1,h3{
    color:#ffffff;
}