* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:sans-serif;
  }
  body {
    transition:all 300ms linear;  
  }
  #sidebar {
    position:absolute;
    top:0px;
    left:-200px;
    width:200px;
    height:100%;
    background:#151719;
    transition:all 300ms linear;
  }
  #sidebar .toggle-btn {
    position:absolute;
    left:220px;
    top:10px;
  }
  #sidebar .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:5px 0px;
    cursor:pointer;
  }
  #sidebar div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #444;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:15px;
  }
  .a-item{
    color:#fcfcfc;
  }
  .a-item:hover{
    color:#fcfcfc50;
    text-decoration: none;
  }
  body.sidebar-active {
    padding-left:200px;
  }
  body.sidebar-active #sidebar {
    left:0px;
  }
  .content {
    padding:10px;
    margin-top:60px;
  }