/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 25%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.15s ease;
  }
  .button:focus { outline: 0; }
  
  /* edittext modifiers */
  .edittext{
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 25%;
    vertical-align: middle;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.15s ease;
  }
  
  .edittextLight {
    background: silver;
    text-shadow: 1px 1px 0 rgba(204, 39, 39, 0);
  }

  /* Button modifiers */
  
  .buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  }

  .buttonRed {
    background: #B00020;
    text-shadow: 1px 1px 0 rgba(204, 39, 53, 0.5);
  }
  .buttonGreen {
    background: #4c8c4a;
    text-shadow: 1px 1px 0 rgba(204, 39, 53, 0.5);
  }

  .main-content{
      margin-top: 50px;
  }

  .label{
    text-align: center;
    color: #4a89dc;
    margin-top: 10px;
  }