body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#search_taisan {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.dataTables_wrapper .dt-buttons {
  display: inline-block;
  margin-left:10px;
  text-align:center;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
